# Vite client variables
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_ACCESS_TOKEN=
VITE_SCHEMA_NAME=

# Hostinger server variables
RESEND_API_KEY=
RESEND_FROM_EMAIL=Seven Sins Tattoo <notifications@send.sevensins.ing>
BOOKING_NOTIFY_EMAIL=hello@sevensins.ing
